@import './reset.scss';
@import './fonts.scss';

/* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;


$beige: #fffae4;
$zian: rgb(37, 69, 129);
$project-item-color: rgb(0, 120, 112);

@mixin title {
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 4px;
    margin-bottom: 32px; 
    // border-bottom: 4px solid lighter($zian, 1);   
    @media (max-width: $mobile-max) {
        margin-bottom: 16px;
        font-size: 120%;
    }    
}

@function darker($color, $tone) {
    $adjust: -16*$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

@function lighter($color, $tone) {
    $adjust: +16*$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}